.ticketsmain {
  background-color: #f7f8fc;
  height: 1200px;
  flex-grow: 10;
  padding: 20px;
}

.tickettable{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(129, 129, 129, 0.3);
}

.leftfeature p{
    font-weight: bold;}

.tablefeatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightfeature{
    display: flex;
    gap: 20px;
}

.sort{
    display: flex;
    gap: 5px;
    
}

.filter{
    display: flex;
    gap:5px
}

.tablediv{
    margin-top: 20px;

}

.table{
    width: 100%;
}

.th{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}